.row {
	margin-top:20px;
	min-height: 200px;
}

.podcastCover {
	border: 1px solid #eaeaea;
	box-shadow: 2px 1px 3px #eaeaea;
	text-align: center;
	padding: 10px;
}

.podcastCover img {
	margin-top: -20px;
}

.badge {
	min-width: 100px;
	font-size: 1em;
	padding: 8px;
	margin-right: 5px;
}